:root {
    --white: #ffffff;
    --black: #000000;
    --blue: #8691c8;
    --gray: #d3d3d3;
    --bodyFont: 'Questrial', sans-serif;
  }
  
  body {
    background-color:  var(--blue);
  }
  
  .container,
  .welcome {
    margin-top: 50px;
  }
  
  .container {
    background-color: var(--gray);
  }
  
  h1,
  h2,
  .btnDiv {
    text-align: center;
  }
  
  p {
    font-family: var(--bodyFont);
  }
  
  .choice,
  #start,
  #timer {
    border: 3px solid var(--black);
    background-color: var(--blue);
    border-radius: 25px;
    font-size: 16px;
    font-family: var(--bodyFont);
    line-height: 16px;
    margin: 16px 16px 16px 20px;
    padding: 14px 34px;
    text-align: center;
    color: var(--white);
  }
  
  .choice {
    display: block;
  }
  
  .choice,
  #start {
    cursor: pointer;
  }
  
  #start,
  #timer,
  #submit {
    display: inline-block;
  }
  
  .headrow {
    font-weight: bolder;
    font-size: 20px;
  }
  
  #choices {
    margin: 50px 0;
    padding-bottom: 50px;
  }
  
  #submit,
  #restart {
    margin-bottom: 50px;
  }